

# Created by https://www.gitignore.io/api/git,composer,visualstudiocode

### Composer ###
=======
/vendor

### Git ###
*.orig

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

.env

# End of https://www.gitignore.io/api/git,composer,visualstudiocode
=======